@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
}

/* @layer components {
  .updateborder {
    border-style: none;
    outline: none;
    text-decoration: none;
    background-clip: content-box;
    border: 2px solid hsl(238, 40%, 52%);
    border-radius: 10px;
  }
}
 */
